# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build
/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea
.idea/*

vendor

50yrcovecollection/
acwiley/
adams/
agee/
airscoop/
alumnus/
baker/
bakerspeeches/
bass/
bcpl/
bjqs.css
cdf/
charliedaniel/
civilwar/
collections/
commencements/
crime/
crimedocuments/
denali/
derris/
edgamble/
egypt/
f2a.php
favicon.ico
fbpro/
football/
footer.php
garner/
h2a.php
h2b.php
heilman/
hikingclub/
iipm/
images/
index.php
js/
kefauver/
kintner/
knoxvillegardens/
lib/
mugwump/
openseadragon/
phoenix/
playbills/
postcards/
redesign/
robots.txt
roth/
s.css
sanborn/
scopes/
smokies/
staff/
standards/
tatum/
tdh/
tenngirl/
tfhs/
tfn/
thompson/
torch/
utesc/
utsmc/
vanvactor/
voloh/
volvoices/
vpmoore/
wcc/
webster/
wpa/
wwiioralhistories/
