.utk-digital--header {
  transition: $transition-all-load;
  background-color: $smokeyx;
}

.utk-digital--header--view-about {
  .utk-digital--about {
    opacity: 1;
    height: 100%;
    transition: $transition-all-load;

    .utk-digital--search--heading {
      position: relative;
      bottom: unset;
      height: auto;
    }
  }
}

.utk-digital--about {
  z-index: 1;
  width: 100%;
  color: $white;
  position: relative;
  opacity: 0;
  transition: none;
  height: 0;
  overflow: hidden;

  .utk-digital--search--heading {
    position: relative;
    bottom: unset;
    height: 0;
    padding: $golden-ratio-6 0;
  }

  p {
    margin-top: 1em;
    margin-bottom: 0;
    line-height: 1.58em;
  }
}
