.utk-digital--header {
  background-color: $smokeyx;
}

.utk-digital--header--view-about {
  .utk-digital--about {
    height: 100%;

    .utk-digital--search--heading {
      position: relative;
      bottom: unset;
      height: auto;
      opacity: 1;
    }
  }
}

.utk-digital--about {
  z-index: 1;
  width: 100%;
  color: $white;
  position: relative;
  transition: none;
  height: 0;
  overflow: hidden;
  justify-content: flex-start;
  text-align: left;

  .utk-digital--search--heading {
    position: relative;
    bottom: unset;
    height: 0;
    padding: $golden-ratio-5 0;
    opacity: 0;
    text-align: left;

    .utk-description {
      justify-content: left;
    }

    @include respond(xs, sm) {
      padding: $golden-ratio-4 0;
    }
  }

  a,
  a:visited {
    color: $orange;
  }

  a:hover,
  a:focus {
    color: $orange;
    text-decoration: underline;
  }

  p {
    font-size: $type-2;
    margin-top: 1em;
    margin-bottom: 0;
    line-height: 1.76em;
  }

  li {
    font-size: $type-2;
  }
}
