.utk-digital--collections {
  h2 {
    margin: 0;
    font-family: $sans;
    font-size: $type-4;
    font-weight: 400;
    line-height: 1.29em;
    color: $smokey;
  }

  header {
    display: flex;
    justify-content: space-between;
    margin-top: $golden-ratio-3;

    > div {
      display: flex;

      .ui.dropdown {
        position: relative;
        z-index: 1000;
      }
    }

    .utk-digital--collections--toggles .button-toggle {
      &.active,
      &:focus {
        box-shadow: $box-shadow;
        background-color: $white !important;
        color: $smokey;
      }

      &:last-of-type {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        background-color: $globe;
        color: $white;
        box-shadow: $box-shadow;
      }
    }

    .ui.dropdown {
      width: auto;
      display: flex;
      font-size: $type-1;

      &::before {
        display: flex;
        position: absolute;
        height: $golden-ratio-4;
        width: $golden-ratio-4;
        align-items: center;
        align-content: center;
        justify-content: center;
        right: 0;
        font-size: $type-0 !important;
        color: $gray-0;
        opacity: 0.47;
      }

      > .text {
        cursor: pointer;
        height: $golden-ratio-4;
        padding: 0 $golden-ratio-2;
        border-radius: $golden-ratio-4;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        display: flex;
        align-items: center;
        background-color: darken($globe, 5);
        color: $white;
        padding-right: $golden-ratio-4;
        box-shadow: inset $box-shadow;
        opacity: 1;
      }
    }

    button {
      height: $golden-ratio-4;
      padding: 0 $golden-ratio-2;
      border-radius: $golden-ratio-4;
      border: none;
      font-family: $sans;
      font-size: $type-1;
      margin-left: $golden-ratio-2;
      cursor: pointer;
      transition: background-color 110ms ease-in-out, box-shadow 110ms ease-in-out, color 110ms ease-in-out;
      outline: none;
      font-weight: 700;
      background-image: none;
      display: inline-flex;
      align-items: center;
      box-shadow: $box-shadow;
      background-color: $white;
      color: $smokey;

      i {
        margin-right: $golden-ratio-0;
        opacity: 0.47;
        display: block;
      }

      &.active,
      &:focus {
        box-shadow: inset $box-shadow-float;
        background-color: $globe;
        color: $white;
      }

      &:first-child {
        margin-left: 0;
      }
    }
  }
}
