.utk-digital--collections {
  display: block;
  position: relative;
  z-index: 1;
  padding-top: $golden-ratio-4;
  background-color: $gray-0;

  h2 {
    margin: 0;
    font-family: $sans;
    font-size: $type-5;
    font-weight: 400;
    line-height: 1.29em;
    color: $smokey;
  }

  header {
    display: flex;
    justify-content: space-between;
    margin-top: $golden-ratio-3;

    > div {
      display: flex;

      .ui.dropdown {
        position: relative;
        z-index: 1000;
      }
    }

    button {
      height: $golden-ratio-4;
      padding: 0 $golden-ratio-2;
      border-radius: $golden-ratio-4;
      border: none;
      font-family: $sans;
      font-size: $type-1;
      box-shadow: $box-shadow;
      margin-right: $golden-ratio-2;
      color: $smokey;
      cursor: pointer;
      transition: $transition-all-fast;
      outline: none;
      text-transform: uppercase;
      font-weight: 700;
      background-image: none;
      background-color: $white;
      display: inline-flex;

      i {
        margin-right: $golden-ratio-0;
        opacity: 0.47;
        display: block;
      }

      &:focus,
      &.active {
        box-shadow: inset $box-shadow-float;
        background-color: $globe;
        color: $white;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
