.btn {
  display: inline-flex;
  width: auto;
  flex-shrink: 1;
  font-size: $type-2;
  background-color: $gray-1;
  line-height: 1.29em;
  padding: $golden-ratio-1 $golden-ratio-2;
  height: $golden-ratio-4;
  font-weight: 700;

  &-sm {
    height: auto;
    font-size: $type-1;
    padding: $golden-ratio-1 $golden-ratio-2;
  }

  &-outline {
    border: 2px solid $gray-1;
    background-color: transparent;
  }
}
