.utk-digital--collection {
  padding: 0 23.5px;
  margin-bottom: $golden-ratio-4;
  width: 25%;
  display: flex;
  flex-direction: column;
  transform: scale3d(1, 1, 1);

  h3 {
    font-family: $sans;
    font-size: $type-2;
    font-weight: 700;
    line-height: 1.29em;
    margin: $golden-ratio-1 0 0;
    color: $smokey;
  }

  p {
    display: none;
    -webkit-font-smoothing: antialiased;
  }

  span.btn {
    display: none;
  }

  &.list {
    display: flex;
    padding: 0;
    flex-direction: row;
    margin-bottom: $golden-ratio-4;
    background-color: $white;
    margin-left: 23.5px;
    width: calc(100% - 47px);
    min-height: calc(#{$golden-ratio-7 + ($golden-ratio-4 * 2)});

    .utk-digital--collection--content {
      margin-left: $golden-ratio-4;
      padding: $golden-ratio-4;
      flex-grow: 1;

      &--more {
        font-weight: 700;
      }
    }

    figure {
      left: auto;
      top: $golden-ratio-4;
      right: -$golden-ratio-4;

      img {
        box-shadow: $box-shadow;
        filter: contrast(1.06) brightness(1.06) saturate(1.11);
      }
    }

    .utk-digital--image--preload {
      height: 100%;
      clip-path: polygon(0 0, calc(100% - 18px) 0,100% 100%,0 100%);

      img {
        height: 100%;
      }
    }

    img {
      width: $golden-ratio-8;
      height: $golden-ratio-7;
      object-fit: cover;
    }

    h3 {
      font-size: $type-4;
      font-weight: 700;
      margin-top: 0;
    }

    p {
      font-family: $sans;
      font-size: $type-2;
      line-height: 1.76em;
      display: block;
      word-break: break-word;
      color: $smokey !important;
      margin-bottom: 23px;
      text-rendering: optimizeLegibility;
    }

    span.btn {
      display: inline-flex;
    }

    .utk-digital--image-placeholder {
      width: $golden-ratio-8;
      height: 100%;
      clip-path: polygon(0 0, calc(100% - 18px) 0,100% 100%,0 100%);

      img {
        object-fit: contain;
      }
    }

    &:nth-child(odd) {
      flex-direction: row-reverse;

      .utk-digital--collection--content {
        margin-left: 0;
        margin-right: $golden-ratio-4;
      }

      figure {
        left: -$golden-ratio-4;
        right: auto;
      }

      .utk-digital--image--preload,
      .utk-digital--image-placeholder {
        height: 100%;
        clip-path: polygon(0 0, 100% 0,100% 100%,18px 100%);
      }
    }
  }

  &:hover,
  &:focus {
    //transform: scale3d(1.03, 1.03, 1);

    h3 {
      color: $globe;
    }
  }
}
