.utk-digital--collection {
  padding: 0 23.5px;
  margin-bottom: $golden-ratio-4;
  width: 25%;

  h3 {
    font-family: $sans;
    font-size: $type-2;
    font-weight: 400;
    line-height: 1.29em;
    margin: $golden-ratio-0 0 0;
    color: $smokey;
  }

  p {
    display: none;
  }

  &.list {
    width: 100%;
    display: flex;
    flex-direction: row;

    img {
      width: $golden-ratio-6;
    }

    h3 {
      font-size: $type-3;
      font-weight: 700;
    }

    p {
      display: block;
    }
  }
}

.utk-digital--image {
  position: relative;

  figure {
    margin: 0;
    width: 100%;
    z-index: 1;
    position: relative;
    left: 0;
    top: 0;
    display: flex;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &--preload {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    width: 100%;
    display: block;
    background-position: 50% 50%;
    background-size: cover;
    filter: blur(29px);
  }
}

.utk-digital--image-placeholder {
  background-color: $gray-1;
  display: flex;

  > img {
    width: 100%;
    opacity: 0;
  }
}
