.utk-digital--collection {
  padding: 0 23.5px;
  margin-bottom: $golden-ratio-4;
  width: 25%;
  display: flex;
  flex-direction: column;
  transform: scale3d(1, 1, 1);
  transition: $transition-all-fast;

  h3 {
    font-family: $sans;
    font-size: $type-2;
    font-weight: 700;
    line-height: 1.29em;
    margin: $golden-ratio-1 0 0;
    color: $smokey;
  }

  p {
    display: none;
    -webkit-font-smoothing: antialiased;
  }

  &.list {
    width: calc(100% - 58px);
    display: flex;
    flex-direction: row;
    background-color: $white;
    padding: $golden-ratio-3;
    box-shadow: $box-shadow;
    margin-bottom: $golden-ratio-3;
    margin-left: $golden-ratio-3;

    .utk-digital--collection--content {
      margin-left: $golden-ratio-3;
    }

    img {
      width: $golden-ratio-7;
      height: $golden-ratio-6;
    }

    h3 {
      font-size: $type-4;
      font-weight: 700;
      margin-top: 0;
    }

    p {
      font-size: $type-2;
      display: block;
      font-family: $sans;
      -webkit-font-smoothing: antialiased;
      color: $smokey !important;
    }

    .utk-digital--image-placeholder {
      width: $golden-ratio-7;
      height: $golden-ratio-6;

      img {
        object-fit: contain;
      }
    }
  }

  &:hover,
  &:focus {
    //transform: scale3d(1.03, 1.03, 1);

    h3 {
      color: $globe;
    }

    img {
      filter: contrast(1.06) brightness(1.06) saturate(1.11);
    }
  }
}
