.utk-loading {
  height: 500px;
  width: 100%;
  position: absolute;
  z-index: 50;
  top: 0;
  opacity: 1;
  transition: $transition-all-load;

  &--loaded {
    opacity: 0;
    height: 0;
  }

  &--spinner {
    top: 50%;
    left: 50%;
    position: absolute;
    display: flex;

    &::before {
      content: '';
      margin-bottom: $golden-ratio-0;
      box-sizing: border-box;
      width: $golden-ratio-4;
      height: $golden-ratio-4;
      margin-top: -23.5px;
      margin-left: -23.5px;
      border-radius: 50%;
      border: 11px solid $rock;
      border-top-color: $orange;
      animation: spinner 1s linear infinite;

      @keyframes spinner {
        from {transform:rotate(0deg);}
        to {transform:rotate(360deg);}
      }
    }
  }
}
