.utk-digital--header--view-about .utk-digital--search {
  opacity: 0;
  transition: none;
}

.utk-digital--search {
  position: absolute;
  z-index: 1;
  width: 100%;
  color: $white;
  bottom: $golden-ratio-5;
  opacity: 1;
  transition: $transition-all-load;

  @include respond(xs,sm) {
    bottom: unset;
    margin-top: $golden-ratio-4;
  }

  > .container {
    position: relative;
  }

  &--heading {
    display: flex;
    flex-direction: column;
    width: calc((100% - 38.2%) - 47px);
    position: absolute;
    bottom: $golden-ratio-5;

    @include respond(xs,sm) {
      bottom: unset;
      position: relative;
      width: 100%;
      text-align: center;
    }

    .utk-heading-1 {
      font-size: $type-6;
      color: $white;
      font-family: $sans;
      font-weight: 700;
      line-height: 1.29em;
      letter-spacing: -0.029em;
      display: block;
      margin-bottom: $golden-ratio-1;
      text-shadow: $box-shadow-float-submenu;

      @include respond(xs,sm) {
        font-size: $type-5;
      }
    }

    .utk-heading-2 {
      font-size: $type-5;
      color: $white;
      font-family: $sans;
      font-weight: 700;
      line-height: 1.29em;
      letter-spacing: -0.029em;
      display: block;
      margin-bottom: $golden-ratio-1;
      text-shadow: $box-shadow-float-submenu;
    }

    .utk-description {
      font-size: $type-3;
      color: $gray-1;
      font-family: $sans;
      font-weight: 400;
      line-height: 1.29em;
      -webkit-font-smoothing: subpixel-antialiased;
      display: flex;
      text-shadow: $box-shadow-float-submenu;

      @include respond(xs,sm) {
        font-size: $type-2;
        justify-content: center;
      }

      a,
      a:visited {
        color: $orange;
        display: block;
        margin-left: $golden-ratio-1;
        text-decoration: none;

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }

  &--base {
    margin-top: $golden-ratio-3;
    position: absolute;
    bottom: 0;
    width: calc((100% - 38.2%) - 47px);

    @include respond(xs,sm) {
      bottom: unset;
      position: relative;
      width: 100%;
    }

    &--form {
      display: flex;
      flex-direction: column;

      .ui.action.input {
        position: relative;

        .utk-search--icon {
          position: absolute;
          z-index: 1;
          height: $golden-ratio-4;
          width: $golden-ratio-4;
          font-size: $type-2;
          color: $rock;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        input {
          border: none;
          background-color: $white;
          height: $golden-ratio-4;
          z-index: 0;
          padding: 0 $golden-ratio-5 0 $golden-ratio-4;
          color: $smokeyx;
          border-radius: $golden-ratio-4;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;

          &::placeholder {
            color: $rock;
            opacity: 1;
          }
        }

        .dropdown {
          position: relative;
          z-index: 3;
          padding: 0 !important;
          min-height: auto;
          border: none;
          border-left: 2px solid $gray-0;
          border-right: 2px solid $gray-0;

          &::before {
            position: absolute;
            right: $golden-ratio-1;
            top: 17px;
            font-size: $type-0;
            color: $rock;
          }

          > .text {
            height: $golden-ratio-4;
            padding: 0 35px 0 $golden-ratio-1;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: $type-1;
            color: $smokey;
          }

          > .menu {
            width: auto;
            margin-top: $golden-ratio-0;
            border-radius: $golden-ratio-0;
            left: unset;
            right: 0;
            box-shadow: $box-shadow-float;

            @include respond(xs) {
              width: 303px;
              min-width: unset;
            }

            > .item {
              font-size: $type-1;

              @include respond(xs) {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
              }
            }
          }
        }

        button {
          background: none;
          border: none;
          font-size: $type-1;
          font-weight: 700;
          color: $smokey;
          z-index: 2;
          right: 0;
          top: 0;
          height: $golden-ratio-4;
          padding: 0 $golden-ratio-2;
          background-color: $white;
          border-radius: $golden-ratio-4 !important;
          border-top-left-radius: 0 !important;
          border-bottom-left-radius: 0 !important;
          transition: $transition-all-fast;
          border-left: 1px solid $white;

          &:hover,
          &:focus {
            cursor: pointer;
            background-color: $gray-0;
            color: $globe;
          }
        }
      }
    }
  }
}
