.utk-digital--header--view-about {
  .utk-digital--header--splash {
    height: $golden-ratio-9;
    min-height: unset;
    max-height: unset;
    top: 0 ;
    position: absolute;

    @include respond(md, lg, xl) {
      &--featured {
        bottom: unset;
        top: $golden-ratio-5;

        .utk-digital--image {
          width: 100%;
          max-width: 100%;
          opacity: 1;
          transition: $transition-opacity-load;

          figure img {
            min-height: auto;
            filter: blur(0) !important;
          }
        }
      }
    }

    @include respond(xs, sm) {
      display: none;
    }

    &--overlay {
      transition: none;

      @include filter-gradient(rgba($smokeyx, 0.92), 70%, rgba($smokeyx, 1), 100%);
    }

    .utk-digital--image {
      figure img {
        filter: blur(18px);
        transition: $transition-all-load;
      }
    }
  }
}

.utk-digital--header--splash {
  width: 100%;
  height: 61.8vw;
  min-height: 500px;
  max-height: calc(90vh - 82px);
  position: relative;
  overflow: hidden;
  z-index: 0;
  background-color: $smokey;

  @include respond(xs,sm) {
    display: flex;
    flex-direction: column-reverse;
    min-height: 570px;
  }

  .utk-digital--image {
    z-index: 0;
    width: 100%;
    align-self: flex-end;


    @include respond(xs,sm) {
      height: 100%;
      background-color: $smokeyx;

      .utk-digital--image--preload {
        height: 100%;
      }
    }

    figure {
      margin: 0;
      display: flex;
      height: 100%;
      width: 100%;

      img {
        width: 120%;
        height: 120%;
        object-fit: cover;
        transition: $transition-all-load;

        @include respond(xs,sm) {
          filter: blur(11px);
          height: 100%;
        }
      }
    }
  }

  &--overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    transition: $transition-all-load;

    @include filter-gradient(rgba($smokeyx, 0), 15%, rgba($smokeyx, 0.92), calc(100% - 199px));

    @include respond(xs,sm) {
      @include filter-gradient(rgba($smokeyx, 0.92), calc(199px), rgba($smokeyx, 0), 100%);
    }
  }

  &--featured {
    position: absolute;
    width: 100%;
    right: 0;
    bottom: $golden-ratio-5;
    z-index: 2;
    opacity: 1;
    transition: $transition-all-load;

    @include respond(xs,sm) {
      bottom: 0;
      background-color: rgba($smokeyx, 0.72);
      padding: 0 0 $golden-ratio-3;
      transition: unset;
    }

    &--content {
      max-width: $gr-short;
      margin-left: $gr-long;
      text-align: right;
      color: $white;
      padding-left: $golden-ratio-5;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      @include respond(xs,sm) {
        max-width: 100%;
        padding-left: 0;
        margin-left: calc(#{$golden-ratio-6 + 18px});
        padding-top: $golden-ratio-3;
        justify-content: flex-start;
        text-align: left;
        position: relative;
      }

      .utk-digital--image {
        z-index: 0;
        opacity: 0;
        width: 0;
        margin-bottom: $golden-ratio-3;
        box-shadow: $box-shadow-float-submenu;

        @include respond(xs,sm) {
          opacity: 1;
          transition: $transition-opacity-load;
          position: absolute;
          width: $golden-ratio-6;
          height: $golden-ratio-5;
          left: calc(#{-$golden-ratio-6 - 18px});
          box-shadow: $box-shadow-float-submenu;

          figure img {
            min-height: auto;
            filter: blur(0) !important;
            width: 100%;
            height: 100%;
          }
        }
      }

      h3 {
        margin: 0 0 $golden-ratio-2;
        text-transform: uppercase;
        font-size: $type-0;
        color: $rock;
        position: relative;
        display: inline-block;
        width: auto;
        font-weight: 700;
        line-height: 1.29em;
      }

      h4 {
        margin: 0 0 $golden-ratio-1;
        color: $white;
        font-size: $type-2;
        line-height: 1.29em;
      }

      h5 {
        margin: 0;
        color: $orange;
        font-weight: 400;
        font-size: $type-1;
        line-height: 1.29em;
      }

      a:hover,
      a:focus {
        text-decoration: none;
      }
    }
  }
}
