.utk-digital--header--splash {
  width: 100%;
  height: 61.8vw;
  min-height: 500px;
  max-height: calc(90vh - 82px);
  position: relative;
  overflow: hidden;
  z-index: 0;
  background-color: $smokey;

  .utk-digital--image {
    z-index: 0;

    figure {
      margin: 0;
      display: flex;
      width: 100%;

      img {
        width: 100%;
        min-height: 500px;
        object-fit: cover;
      }
    }
  }

  &--overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0;
    top: 0;

    @include filter-gradient(rgba($smokeyx, 0), 199px, rgba($smokeyx, 0.95), calc(100% - 123px));
  }

  &--featured {
    position: absolute;
    width: 100%;
    right: 0;
    bottom: $golden-ratio-5;
    z-index: 2;

    &--content {
      max-width: $gr-short;
      margin-left: $gr-long;
      display: flex;
      flex-direction: column;
      text-align: right;
      color: $white;

      h3 {
        margin: 0 0 $golden-ratio-3;
        text-transform: uppercase;
        font-size: $type-1;
        color: $rock;
      }

      h4 {
        margin: 0 0 $golden-ratio-0;
        color: $white;
        font-size: $type-3;
      }

      h5 {
        margin: 0;
        color: $summitt;
        font-weight: 400;
        font-size: $type-2;
      }
    }
  }
}
