//html {
//  margin-top: 82px;
//  font-size: $type-3 !important;
//
//  @include respond(sm) {
//    margin-top: 82px;
//  }
//
//  @include respond(xs) {
//    margin-top: 66px;
//  }
//}
//

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.utk-lib-digital-front {
  position: relative;
  z-index: 0;
}

.utk-digital--header {
  width: 100%;
  background-color: $rock;
  position: relative;
  z-index: 0;
}

.utk-digital--grid {
  display: flex;
  flex-flow: wrap;
  margin-left: -23.5px;
  width: calc(100% + 47px);
  margin-top: $golden-ratio-4;
}
