/*
 * colors
 */

// primary
$orange:      #ff8200;
$white:       #fff;
$smokey:      #58595b;

// secondary
$valley:      #00746f;
$torch:       #e65933;
$globe:       #006c93;
$limestone:   #f0ede3;
$river:       #517c96;
$leconte:     #8d2048;
$regalia:     #754a7e;
$sunsphere:   #fed535;
$rock:        #a7a9ac;
$legacy:      #579584;
$summitt:     #b9e1e2;
$energy:      #ee3e80;
$switchgrass: #abc178;
$fountain:    #2197a9;
$eureka:      #ebea64;

// alt grays
$smokeyx:    #333;
$gray-0:      #f6f6f6;
$gray-1:      #e0e0e0;
$gray-2:      #cacaca;
$gray-3:      #b6b6b6;

// brand
$action:      $globe;
$secondary:   $smokey;
$accent:      $orange;

/*
 * typography
 */

$sans: "Gotham SSm 2r", "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif: "clarendon-text-pro", Georgia, Times, 'Times New Roman', serif;
$script: "bickham-script-pro-3", $serif;

/*
 * relative sizing
 */

$gr       : 1.6180339887;
$gr-long  : calc(100% / #{$gr});
$gr-short : calc(100% - (100% / #{$gr}));

/*
 * font-size for typography
 */

$type-0: 11px; // extra extra small
$type-1: 13px; // extra small
$type-2: 15px; // small
$type-3: 18px; // standard
$type-4: 23px; // medium
$type-5: 29px; // large
$type-6: 39px; // large
$type-7: 47px; // extra large

/*
 * incremental spacers by golden ratio
 */

$golden-ratio-0: 6px;
$golden-ratio-1: 11px;
$golden-ratio-2: 18px;
$golden-ratio-3: 29px;
$golden-ratio-4: 47px; // everything is based upon this.
$golden-ratio-5: 76px;
$golden-ratio-6: 123px;
$golden-ratio-7: 199px;
$golden-ratio-8: 322px;
$golden-ratio-9: 521px;

/*
 * transitions
 */

$transition-padding: padding 290ms ease-in-out;
$transition-all: all 290ms ease-in-out;
$transition-top: top 290ms ease-in-out;
$transition-opacity: opacity 290ms ease-in-out;
$transition-opacity-load: opacity 470ms ease-in-out;
$transition-all-fast: all 110ms ease-in-out;
$transition-all-load: all 470ms ease-in-out;

/*
 * box-shadows
 */

$box-shadow: 0 2px 5px rgba($smokeyx, 0.15);
$box-shadow-left: 5px 0 5px rgba($smokeyx, 0.11);
$box-shadow-right: -5px 0 5px rgba($smokeyx, 0.11);
$box-shadow-inset: inset 0 2px 5px rgba($smokeyx, 0.15);
$box-shadow-float: 0 2px 5px rgba($smokeyx, 0.29);
$box-shadow-float-reverse: 0 -2px 5px rgba($smokeyx, 0.15);
$box-shadow-float-submenu: 0 0 29px rgba($smokeyx, 0.47);

/*
 * bootstrap 4 overrides
 */
$theme-colors: (
        primary:    $globe
);

/*
 * WordPress vars
 */

$admin-default : 32px;
$admin-mobile : 46px;

/*
 * Misc
 */

$font-family-sans-serif:  $sans !default;
$font-family-serif:       $serif !default;
$font-family-base:        $font-family-sans-serif !default;

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
