/*
 * global
 */
@import "global/variables";

/*
 * utilities
 */
@import "utilities/mixins";
@import "utilities/helpers";

/*
 * bootstrap globals
 */
@import "global/bootstrap-vars";
@import "global/bootstrap-mixins";
@import "global/bootstrap-grid";

/*
 * semantic ui
 */
@import "semantic/dropdown";
@import "semantic/select";
@import "semantic/tab";

/*
 * vendor
 */
@import "../vendor/typography/gotham.css";

/*
 * utilities
 */
@import "utilities/mixins";
@import "utilities/helpers";

/*
 * layout
 */
@import "layout/container";


/*
 * components
 */
@import "components/browse";
@import "components/button";
@import "components/collection";
@import "components/image";
@import "components/loading";
@import "components/search";
@import "components/splash";
@import "components/semantic-ui/semantic-ui";

/*
 * vendor
 */
@import "../vendor/bootstrap/bootstrap-grid";


#utk-lib-digital-front {
  a:not(.btn) {
    text-decoration: none;
    color: $globe !important; 
    
    &:hover,
    &:focus {
      text-decoration: none;
      color: $leconte !important;
    }
  }
  
  .btn {
    background-color: $gray-1;
    
    &-outline {
      border: 2px solid $gray-1;
      background-color: transparent;
    }
  }
}


#utk-lib-footer {
  .footer-link {
    text-decoration: none;
    color: rgb(75,75,75) !important;
    
    &:hover,
    &:focus {
      text-decoration: none;
      color: #006c93 !important; 
    }
  }
}